#body{
    background-color: #fffff0;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    position: sticky;
    top: 0;
    background-color: #fffff0;
}

a.nav-link{
    text-decoration: none;
    color: rgb(78,78,78);
}

.logo-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    width: 80px;
    height: 80px;
}

.fullwidth{
    width: 100%;
}

#logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: row;
    border-radius: 5px;
}

#nav-bar{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px;
}

#features-container{
    background-color: #6495ED;
    margin: 0;
    padding: 3vw 10vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

#features-details{
    display: flex;
    flex-direction: row;
    padding: 5vh 0;
}

#media-container{
    display: flex;
    align-content: center;
}

.features blockquote{
    background-color: darkgrey;
    box-shadow: 3px 3px rgb(78,78,78);
    padding: 8px;
    margin: 0 10vw;
    border: 2px solid rgba(78,78,78, 0.5);
    border-radius: 9px;
}

.features h1{
    font-size: 36px;
    text-align: center;
}

.speaker{
    text-align: right;
    text-align: right;
    font-weight: 600;
}

.feature-list{
    margin: 0;
    padding: 0;
    padding-left: 3vw;
    list-style-type:square;
}

.feature-list li{
    width: 100%;
}

.feature{
    width: 33%;
    padding: 8px;
    margin: 0;
    font-size: 20px;
}

.pricing{
    padding: 3vw 10vw;
}

.pricing-list{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 40px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.pricing-plan{
    width: 180px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(78,78,78, 0.5);
    box-shadow: 3px 3px rgb(78,78,78);
    border-radius: 20%;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.footer{
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
}